body{
    margin: 0px;
   
 
}

h1{
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: cadetblue;
}

.imagedimension{
    width: 400px;
    height: 400px;
   
}

/* .img-container{
    display: flex;
    justify-content: center;
  
} */

.rowimg{
    display: flex;
    justify-content: center;
}


.photo-div .thumb-up{
    width: 30px;
    height: 30px;
}
.photo-div .thumbs-down{
    width: 30px;
    height: 30px;
}
.photo-div{
    width: 500px;
    height: 700px;
    border: 1px solid black;
}


p{
    font-size: 50px;
}


.zoom {
    position: fixed;
    bottom: 250px;
    right: 300px;
    top: 20px;

    width: 1200px;
    height: 1000px;
   /* text-align: center; */
  
  
}

.d-none{
   background-color: black;
}

#button-close img{
  width: 90px;

 
}
.d-initial{
    display: initial;
}

#button-close img{
    float: right;
    margin-right: 50px;
    position: fixed;
    top: 40px;
    right:  150px;
    /* display: none; */
  

}
.button-closer{
    display: none; 
}
