div{display: flex;  justify-content:space-evenly; row-gap:20px; flex-wrap: wrap;}


.op_text{
    background-color: hotpink;
    color: indigo;
}

td> img {
    width: 300px;
    height: 300px;

}


body {
    background-color: black;

}

table {
    background-color: blanchedalmond;
    margin-left: auto;
    margin-right: auto;

}

h1 {
    text-align: center;
    font-size: 100px;
    color: lightseagreen;

}
.thumb-up{
    width: 30px;
    height: 30px;
}
.thumbs-down{
    width: 30px;
    height: 30px;
}

p{
    font-size: 40px;
   
}
